* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	font-size: 62.5%;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.main-header {
	padding: 2rem 4rem;
	height: 10rem;
}
.mobile-nav {
	display: none;
}
.desktop-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo-container {
	height: 5rem;
}
.logo-container img {
	height: 100%;
}
.nav-list {
	display: flex;
	align-items: center;
}
.nav-item {
	margin-left: 3rem;
}
.nav-link {
	font-size: 2rem;
	color: #282828;
}
.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 10rem);
}
.hero-vector-container img {
	width: 60rem;
}
.hero-content {
	margin-top: 4rem;
}
.hero-title {
	font-size: 5rem;
}
.nav-btn {
	cursor: pointer;
}
.nav-btn-stroke {
	height: 0.4rem;
	width: 3rem;
	background-color: #282828;
	transition: 0.3s;
}
.nav-btn-stroke:not(:last-child) {
	margin-bottom: 0.6rem;
}
.nav-open .nav-btn-stroke:nth-child(1) {
	transform: rotate(45deg) translate(0.7rem, 0.7rem);
}
.nav-open .nav-btn-stroke:nth-child(2) {
	opacity: 0;
	visibility: hidden;
}
.nav-open .nav-btn-stroke:nth-child(3) {
	transform: rotate(-45deg) translate(0.7rem, -0.7rem);
}
.main-container {
	transition: 0.3s;
}
.main-container-transform {
	transform: translateY(195px);
}

@media (max-width: 1500px) {
	.hero-vector-container img {
		width: 50rem;
	}
}
@media (max-width: 960px) {
	.hero-title {
		font-size: 4rem;
	}
}

@media (max-width: 920px) {
	.mobile-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.desktop-nav .logo-container {
		display: none;
	}
	.desktop-nav {
		display: block;
		height: 0;
		overflow: hidden;
		transition: 0.3s;
	}
	.nav-list {
		display: block;
	}
	.nav-item {
		margin: 0;
		margin-bottom: 2rem;
	}
	.nav-link {
		display: block;
		text-align: center;
	}
	.mobile-nav-open {
		height: 195px;
	}
}

@media (max-width: 800px) {
	.hero-title {
		font-size: 3.5rem;
	}
}
@media (max-width: 750px) {
	.hero-title {
		font-size: 3.5rem;
	}
	.hero-vector-container img {
		width: 40rem;
	}
}
@media (max-width: 730px) {
	.hero-title {
		font-size: 2.5rem;
	}
}
@media (max-width: 515px) {
	.hero-title {
		font-size: 2rem;
	}
	.hero-vector-container img {
		width: 30rem;
	}
}
